@charset 'UTF-8';
/* Off Canvas Style */

[off-canvas] {
    background: $pri-color;
    border-right: solid 1px $border-color;
}


/* Animation */

.fade-in-up,
.fade-in {
    opacity: 0;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    opacity: 1;
}
.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    opacity: 1;
}

.fadeOut {
    animation-name: fadeOutDown;
    animation-duration: 1s;
} 

.btn {
    height: auto;
    font: 700 normal 0.9rem/7 $pri-font;
    letter-spacing: 0.1em;
    &.-bordered {
        border-width: 2px;
        border-style: solid;
        &.-blue {
            background-color:$pri_color;
            border-color: $pri_color;
            color: #ffffff;
            border-radius: 0px;
            padding: 10px 60px;
        }
        &.-new {
            position: absolute;
            margin: -47px 0 0 0;
            font: 700 normal 0.9rem $pri-font;
            background-color:$pri_color;
            border-color: $pri_color;
            color: #ffffff;
            border-radius: 0px;
            padding: 10px 60px;
        }
    }
}


.parallax-window {
    min-height: 400px;
    background: transparent;
    
}



